@import "styles/templates/variables";
@import "styles/templates/queries";

.header {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  box-shadow: 0 2px 6px 0  $input-dk-gray;

  @include large($desktop){
    padding-inline: 3rem;
  }

  h1 {
    font-size: 1.2rem;
    font-weight: $bolder;
  }
}

.header__theme {
  height: 100%;
  display: flex;
  align-items: center;

  @include large($desktop){
    margin-right: 3rem;
  }
}