@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import "styles/templates/variables";
@import "styles/templates/queries";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bg-lt-gray;
  color: $txt-dk-blue;

  &.dark {
  height: 100vh;
  background: $bg-dk-blue;
  color: $white;
}
}

select {
  border: 1px solid $el-dk-blue;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 10px;
  white-space: nowrap;
  width: 60%;
  outline: 0;
  color: inherit;


  &.dark {
    background-color: $el-dk-blue;
    border-color: $bg-lt-gray;
  }

  @include mqls($mob-ls) {
    flex: 1;
  }

  option {
    max-width: 60%;
  }
}






