@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import "styles/templates/variables";
@import "styles/templates/queries";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bg-lt-gray;
  color: $txt-dk-blue;
  border: $bg-dk-blue
}

body.dark {
  height: 100vh;
  background: $bg-dk-blue;
  color: $white;
  border: $white;
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}