//colors
$el-dk-blue: hsl(209, 23%, 22%); //Dark Mode Elements
$bg-dk-blue: hsl(207, 26%, 17%); //Dark Mode Background
$txt-dk-blue: hsl(200, 15%, 8%); //Light Mode Text
$input-dk-gray: hsl(0, 0%, 52%); //Light Mode Input
$bg-lt-gray: hsl(0, 0%, 98%); //Light Mode Background
$white: hsl(0, 0%, 100%); //Dark Mode Text && Light Mode Elements

//font weight
$normal: 300;
$bold: 600;
$bolder: 800
